{% extends 'base.html.twig' %}

{% block title %}Hello AccueilController!
{% endblock %}

{% block body %}
	<style>
		.categories {
			display: flex;
			flex-direction: column;
		}
		.articles{
			display: flex;
			flex-direction: column;
			gap: 1em
		}
		.article {
			display: flex;
			flex-direction: column;
		}
		.article .categorie {
			color: gray;
			font-size: 0.8em
		}
		.article .titre {
			margin: 0;
		}
		.article .auteur {
			font-size: 0.7em;
			color: gray
		}
		.article .date {
			font-size: 0.7em;
			color: gainsboro
		}
	</style>
	<div>
		{% if is_granted('ROLE_ADMIN') %}
			<a href={{path("app_categories_new")}}>Créer une nouvelle catégorie</a>
			<a href={{path("app_articles_new")}}>Créer un nouveau article</a>
		{% endif %}
		<h2>Les 3 dernières catégories ajoutées</h2>
		<div class="categories">
			{% for categorie in categories %}
				<a href={{path("app_categories_show", {id : categorie.id} )}}>{{categorie.titre}}<a/>
			{% endfor %}
		</div>
		<h2>Les 3 derniers articles ajoutés</h2>
		<div class="articles">
			{% for article in articles %}
				<div class="article">
					<span class="categorie">{{article.categorie.titre}}</span>
					<h3 class="titre">
						<a class="titre" href={{path("app_articles_show", {id : article.id} )}}>
							{{article.titre}}
							<a/>
						</h3>
						<span class="auteur">{{article.auteur.nom}}
							{{article.auteur.prenom}}</span>
						<br>
						<span class="date">{{article.dateDeParution|date("m/d/Y H:i:s")}}</span>
				</div>
			{% endfor %}
		</div>
	</div>
	
{% endblock %}
